<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>507153383284-v04kapgm927h0d0oflvohuh4vdo392ta.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.507153383284-v04kapgm927h0d0oflvohuh4vdo392ta</string>
	<key>API_KEY</key>
	<string>AIzaSyAT2D77-PDxXyGdG4lJqPHgFxn5WyKworc</string>
	<key>GCM_SENDER_ID</key>
	<string>507153383284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.houseReservation</string>
	<key>PROJECT_ID</key>
	<string>real-estate-firebase-d8ed0</string>
	<key>STORAGE_BUCKET</key>
	<string>real-estate-firebase-d8ed0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:507153383284:ios:100b09b917100886cb7621</string>
</dict>
</plist>